main {
  width: 100%;
  margin: 0 auto;
  font-family: Varela Round, sans-serif;
}

#accomodations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  column-gap: 15px;
  row-gap: 15px;
  width: 100vw;
  height: 100vh;
  min-width: 0;
  min-height: 0;
  max-width: 1280px;
}

.accomodationName {
  overflow: hidden;
  width: 80px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.add-three-dots{
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accomodationGrid {
  display: grid;
  grid-template-rows: 80% 10% 10%;
  min-width: 250;
  min-height: 250;
}

.accomodationGrid > img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 4px;
}

.accomodationTexts {
  margin-top: 10px;
}